body{
  font-family: Arial;
  background:#F3F1EC;
  margin:0;
}

.admin-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#0F2F4A;
  color:#fff;
  padding:10px;
}

.menu-btn{
  font-size:22px;
  background:#fff;
  border:none;
  padding:5px 10px;
  border-radius:8px;
}

.sidebar{
  width:250px;
  background:#0F2F4A;
  color:#fff;
  position:fixed;
  right:-260px;
  top:0;
  height:100%;
  transition:.3s;
}

.sidebar.open{
  right:0;
}

.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  display:none;
}

.overlay.show{
  display:block;
}

.admin-main{
  padding:20px;
}

.event-form-box{
  background:#fff;
  padding:20px;
  border-radius:10px;
}

input, textarea{
  width:100%;
  margin:10px 0;
  padding:10px;
}

button{
  background:#0F2F4A;
  color:#fff;
  padding:10px;
  border:none;
}

.main-footer{
  text-align:center;
  padding:10px;
}
